In [132]:
#%%
#SQL LITE
import sqlite3

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()
try:
    cur.execute("DROP TABLE pacientes")
    conn.commit()
except:
    pass
#Ejecutar una sentencia SQL

sql = """CREATE TABLE IF NOT EXISTS pacientes
                    (id INTEGER NOT NULL PRIMARY KEY,
                     nombre TEXT NOT NULL,
                     peso INTEGER NOT NULL,
                     altura REAL NOT NULL)""" 
cur.execute(sql)
#EN UNA SOLA VENTANA
# conn.commit()
# sql = """INSERT INTO pacientes 
#                 (nombre, 
#                  peso,
#                  altura)
#          VALUES
#                 (?, ?, ?)"""
# cur.execute(sql, ("Elvio Lado", 80, 1.72))
#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [135]:
#%%
#SQL LITE
import sqlite3

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL

sql = """INSERT INTO pacientes
                (nombre, peso, altura)
        VALUES   (?, ?, ?)"""
cur.execute(sql, ("Elvio Lado", 80, 1.72))
#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [105]:
#SQL LITE


#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """DROP TABLE pacientes"""
try: 
    cur.execute(sql)
except:
    print("ERROR: la tabla no existe")


#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

ERROR: la tabla no existe

In [136]:
#SQL LITE
personas = [("Elsa Payo", 54, 1.65),
            ("Armando Paredes", 88, 1.75),
            ("Susana Oria", 48, 1.60),
            ("Esbteban Dido", 110, 1.68)]

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """INSERT INTO pacientes 
                (nombre, 
                 peso,
                 altura)
         VALUES
                (?, ?, ?)"""
cur.executemany(sql, personas)


#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [26]:
# MINI PROYECTO
import csv

filename = "lista_alumnos.txt"
with open(filename,  encoding = 'utf-8') as file:
    reader = csv.reader(file, delimiter ="\t" )
    
    data = next(reader)
    
    for idx, item in enumerate(data):
        print(f"data[{idx}] = {item}")

data[0] =  u201510905 Menú Opciones: Nombre de usuario
data[1] = Cesar Augusto
data[2] = Bardales Loarte
data[3] = u201510905@upc.edu.pe
data[4] = Estudiante
data[5] =
data[6] = Sí

In [35]:
# MINI PROYECTO
import csv

data_list =[]
filename = "lista_alumnos.txt"
with open(filename,  encoding = 'utf-8') as file:
    reader = csv.reader(file, delimiter ="\t" )
    
    for data in reader:
        data_list.append((data[0][1:11],
                          data[2],
                          data[1], 
                          data[3]))
print(data_list)

[('u201510905', 'Bardales Loarte', 'Cesar Augusto', 'u201510905@upc.edu.pe'), ('u201513319', 'Bernuy Ramirez', 'Jesus', 'u201513319@upc.edu.pe'), ('u201621990', 'Bobadilla Chancafe', 'José Edison', 'u201621990@upc.edu.pe'), ('u201610674', 'Cachique Agreda', 'Kevin Poll Jharson', 'u201610674@upc.edu.pe'), ('u201620163', 'Cerda Flores', 'Bryan Harold', 'u201620163@upc.edu.pe'), ('u201425507', 'Garcia Guerra', 'Sebastian Elias', 'u201425507@upc.edu.pe'), ('u201719264', 'Gil Alvarado', 'Yorman Manuel', 'u201719264@upc.edu.pe'), ('u201713638', 'Koochoy Wong', 'Cecilia Sucyen', 'u201713638@upc.edu.pe'), ('u201421391', 'Ludeña Sevilla', 'Jose Luis', 'u201421391@upc.edu.pe'), ('u20151c262', 'Marquez Zapata', 'Sara Milagros', 'u20151c262@upc.edu.pe'), ('u20181e444', 'Miranda Durand', 'Fabricio Jose', 'u20181e444@upc.edu.pe'), ('u201523291', 'Molina Diaz', 'Anthony Frank', 'u201523291@upc.edu.pe'), ('u201614986', 'Nuñez Cabrera', 'Victor Alonso', 'u201614986@upc.edu.pe'), ('u201623405', 'Rebaza Bartra', 'Jorge Marcelo', 'u201623405@upc.edu.pe'), ('u201811680', 'Rodriguez Peralta', 'Kevin Elmer', 'u201811680@upc.edu.pe'), ('u201517193', 'Sanchez Gomez', 'Maikol Brandon', 'u201517193@upc.edu.pe'), ('u201710871', 'Sotomayor Anco', 'Tathyana Leyla', 'u201710871@upc.edu.pe'), ('u201617457', 'Torres Santos', 'Yerson Walter', 'u201617457@upc.edu.pe'), ('u201515612', 'Tuesta Ocampo', 'Gian Carlo', 'u201515612@upc.edu.pe'), ('u201622015', 'Uyejara Bustamante', 'Julio Tokujiro', 'u201622015@upc.edu.pe'), ('u201516659', 'Vasquez Levano', 'Cristian Andres', 'u201516659@upc.edu.pe')]

In [45]:
#%%
#SQL LITE
import sqlite3

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
try:
    cur.execute("DROP TABLE alumnos")
    conn.commit()
except:
    pass
sql = """CREATE TABLE IF NOT EXISTS alumnos
                    (id INTEGER NOT NULL PRIMARY KEY,
                     codigo TEXT NOT NULL,
                     apellido TEXT NOT NULL,
                     nombre TEXT NOT NULL,
                     email TEX NOT NULL)""" 

cur.execute(sql)
#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [46]:
#SQL LITE

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """INSERT INTO alumnos 
                (codigo, apellido, nombre, email)
         VALUES
                (?, ?, ?, ?)"""
cur.executemany(sql, data_list)


#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [48]:
#
conn = sqlite3.connect("database.db")

#Se crea cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL (select)
sql = """SELECT * FROM alumnos"""

cur.execute(sql)
data = cur.fetchall()

#Se cierra la conexion con la db
conn.close()

print(type(data))
print(data)
print("===========")

for idx, items in enumerate(data):
    print(f"Registro {idx}:")
    print("\tcodigo: {}\n\tApellidos{}\n\tNombres{}\n\tEmail{}".format(*items[1:]))

<class 'list'>
[(1, 'u201510905', 'Bardales Loarte', 'Cesar Augusto', 'u201510905@upc.edu.pe'), (2, 'u201513319', 'Bernuy Ramirez', 'Jesus', 'u201513319@upc.edu.pe'), (3, 'u201621990', 'Bobadilla Chancafe', 'José Edison', 'u201621990@upc.edu.pe'), (4, 'u201610674', 'Cachique Agreda', 'Kevin Poll Jharson', 'u201610674@upc.edu.pe'), (5, 'u201620163', 'Cerda Flores', 'Bryan Harold', 'u201620163@upc.edu.pe'), (6, 'u201425507', 'Garcia Guerra', 'Sebastian Elias', 'u201425507@upc.edu.pe'), (7, 'u201719264', 'Gil Alvarado', 'Yorman Manuel', 'u201719264@upc.edu.pe'), (8, 'u201713638', 'Koochoy Wong', 'Cecilia Sucyen', 'u201713638@upc.edu.pe'), (9, 'u201421391', 'Ludeña Sevilla', 'Jose Luis', 'u201421391@upc.edu.pe'), (10, 'u20151c262', 'Marquez Zapata', 'Sara Milagros', 'u20151c262@upc.edu.pe'), (11, 'u20181e444', 'Miranda Durand', 'Fabricio Jose', 'u20181e444@upc.edu.pe'), (12, 'u201523291', 'Molina Diaz', 'Anthony Frank', 'u201523291@upc.edu.pe'), (13, 'u201614986', 'Nuñez Cabrera', 'Victor Alonso', 'u201614986@upc.edu.pe'), (14, 'u201623405', 'Rebaza Bartra', 'Jorge Marcelo', 'u201623405@upc.edu.pe'), (15, 'u201811680', 'Rodriguez Peralta', 'Kevin Elmer', 'u201811680@upc.edu.pe'), (16, 'u201517193', 'Sanchez Gomez', 'Maikol Brandon', 'u201517193@upc.edu.pe'), (17, 'u201710871', 'Sotomayor Anco', 'Tathyana Leyla', 'u201710871@upc.edu.pe'), (18, 'u201617457', 'Torres Santos', 'Yerson Walter', 'u201617457@upc.edu.pe'), (19, 'u201515612', 'Tuesta Ocampo', 'Gian Carlo', 'u201515612@upc.edu.pe'), (20, 'u201622015', 'Uyejara Bustamante', 'Julio Tokujiro', 'u201622015@upc.edu.pe'), (21, 'u201516659', 'Vasquez Levano', 'Cristian Andres', 'u201516659@upc.edu.pe')]
===========
Registro 0:
	codigo: u201510905
	ApellidosBardales Loarte
	NombresCesar Augusto
	Emailu201510905@upc.edu.pe
Registro 1:
	codigo: u201513319
	ApellidosBernuy Ramirez
	NombresJesus
	Emailu201513319@upc.edu.pe
Registro 2:
	codigo: u201621990
	ApellidosBobadilla Chancafe
	NombresJosé Edison
	Emailu201621990@upc.edu.pe
Registro 3:
	codigo: u201610674
	ApellidosCachique Agreda
	NombresKevin Poll Jharson
	Emailu201610674@upc.edu.pe
Registro 4:
	codigo: u201620163
	ApellidosCerda Flores
	NombresBryan Harold
	Emailu201620163@upc.edu.pe
Registro 5:
	codigo: u201425507
	ApellidosGarcia Guerra
	NombresSebastian Elias
	Emailu201425507@upc.edu.pe
Registro 6:
	codigo: u201719264
	ApellidosGil Alvarado
	NombresYorman Manuel
	Emailu201719264@upc.edu.pe
Registro 7:
	codigo: u201713638
	ApellidosKoochoy Wong
	NombresCecilia Sucyen
	Emailu201713638@upc.edu.pe
Registro 8:
	codigo: u201421391
	ApellidosLudeña Sevilla
	NombresJose Luis
	Emailu201421391@upc.edu.pe
Registro 9:
	codigo: u20151c262
	ApellidosMarquez Zapata
	NombresSara Milagros
	Emailu20151c262@upc.edu.pe
Registro 10:
	codigo: u20181e444
	ApellidosMiranda Durand
	NombresFabricio Jose
	Emailu20181e444@upc.edu.pe
Registro 11:
	codigo: u201523291
	ApellidosMolina Diaz
	NombresAnthony Frank
	Emailu201523291@upc.edu.pe
Registro 12:
	codigo: u201614986
	ApellidosNuñez Cabrera
	NombresVictor Alonso
	Emailu201614986@upc.edu.pe
Registro 13:
	codigo: u201623405
	ApellidosRebaza Bartra
	NombresJorge Marcelo
	Emailu201623405@upc.edu.pe
Registro 14:
	codigo: u201811680
	ApellidosRodriguez Peralta
	NombresKevin Elmer
	Emailu201811680@upc.edu.pe
Registro 15:
	codigo: u201517193
	ApellidosSanchez Gomez
	NombresMaikol Brandon
	Emailu201517193@upc.edu.pe
Registro 16:
	codigo: u201710871
	ApellidosSotomayor Anco
	NombresTathyana Leyla
	Emailu201710871@upc.edu.pe
Registro 17:
	codigo: u201617457
	ApellidosTorres Santos
	NombresYerson Walter
	Emailu201617457@upc.edu.pe
Registro 18:
	codigo: u201515612
	ApellidosTuesta Ocampo
	NombresGian Carlo
	Emailu201515612@upc.edu.pe
Registro 19:
	codigo: u201622015
	ApellidosUyejara Bustamante
	NombresJulio Tokujiro
	Emailu201622015@upc.edu.pe
Registro 20:
	codigo: u201516659
	ApellidosVasquez Levano
	NombresCristian Andres
	Emailu201516659@upc.edu.pe

In [55]:
#
conn = sqlite3.connect("database.db")

#Se crea cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL (select)
sql = """SELECT * FROM alumnos"""

cur.execute(sql)
for item in cur.fetchone():
    print(item)
print("=======================")
for item in cur.fetchall():
    print(item)

#Se cierra la conexion con la db
conn.close()

1
u201510905
Bardales Loarte
Cesar Augusto
u201510905@upc.edu.pe
=======================
(2, 'u201513319', 'Bernuy Ramirez', 'Jesus', 'u201513319@upc.edu.pe')
(3, 'u201621990', 'Bobadilla Chancafe', 'José Edison', 'u201621990@upc.edu.pe')
(4, 'u201610674', 'Cachique Agreda', 'Kevin Poll Jharson', 'u201610674@upc.edu.pe')
(5, 'u201620163', 'Cerda Flores', 'Bryan Harold', 'u201620163@upc.edu.pe')
(6, 'u201425507', 'Garcia Guerra', 'Sebastian Elias', 'u201425507@upc.edu.pe')
(7, 'u201719264', 'Gil Alvarado', 'Yorman Manuel', 'u201719264@upc.edu.pe')
(8, 'u201713638', 'Koochoy Wong', 'Cecilia Sucyen', 'u201713638@upc.edu.pe')
(9, 'u201421391', 'Ludeña Sevilla', 'Jose Luis', 'u201421391@upc.edu.pe')
(10, 'u20151c262', 'Marquez Zapata', 'Sara Milagros', 'u20151c262@upc.edu.pe')
(11, 'u20181e444', 'Miranda Durand', 'Fabricio Jose', 'u20181e444@upc.edu.pe')
(12, 'u201523291', 'Molina Diaz', 'Anthony Frank', 'u201523291@upc.edu.pe')
(13, 'u201614986', 'Nuñez Cabrera', 'Victor Alonso', 'u201614986@upc.edu.pe')
(14, 'u201623405', 'Rebaza Bartra', 'Jorge Marcelo', 'u201623405@upc.edu.pe')
(15, 'u201811680', 'Rodriguez Peralta', 'Kevin Elmer', 'u201811680@upc.edu.pe')
(16, 'u201517193', 'Sanchez Gomez', 'Maikol Brandon', 'u201517193@upc.edu.pe')
(17, 'u201710871', 'Sotomayor Anco', 'Tathyana Leyla', 'u201710871@upc.edu.pe')
(18, 'u201617457', 'Torres Santos', 'Yerson Walter', 'u201617457@upc.edu.pe')
(19, 'u201515612', 'Tuesta Ocampo', 'Gian Carlo', 'u201515612@upc.edu.pe')
(20, 'u201622015', 'Uyejara Bustamante', 'Julio Tokujiro', 'u201622015@upc.edu.pe')
(21, 'u201516659', 'Vasquez Levano', 'Cristian Andres', 'u201516659@upc.edu.pe')

In [87]:
#
conn = sqlite3.connect("database.db")

#Se crea cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL (select)
sql = """SELECT * FROM alumnos WHERE codigo LIKE 'u2015%' """

cur.execute(sql)

for item in cur: #Poner cur es lo mismo que cur.fetchall()
    print(f"Codigo: {item[1]}\t{item[2]}\t{item[3]}")

#Se cierra la conexion con la db
conn.close()

Codigo: u201510905	Bardales Loarte	Cesar Augusto
Codigo: u201513319	Bernuy Ramirez	Jesus
Codigo: u20151c262	Marquez Zapata	Sara Milagros
Codigo: u201523291	Molina Diaz	Anthony Frank
Codigo: u201517193	Sanchez Gomez	Maikol Brandon
Codigo: u201515612	Tuesta Ocampo	Gian Carlo
Codigo: u201516659	Vasquez Levano	Cristian Andres

In [90]:
#
conn = sqlite3.connect("database.db")

#Se crea cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL (select)
sql = """SELECT * FROM alumnos ORDER BY nombre""" #ORDER BY codigo, apellido, email

cur.execute(sql) #Primero se ejecuta el sql
for item in cur:
    print(item)



#Se cierra la conexion con la db
conn.close()

(12, 'u201523291', 'Molina Diaz', 'Anthony Frank', 'u201523291@upc.edu.pe')
(5, 'u201620163', 'Cerda Flores', 'Bryan Harold', 'u201620163@upc.edu.pe')
(8, 'u201713638', 'Koochoy Wong', 'Cecilia Sucyen', 'u201713638@upc.edu.pe')
(1, 'u201510905', 'Bardales Loarte', 'Cesar Augusto', 'u201510905@upc.edu.pe')
(21, 'u201516659', 'Vasquez Levano', 'Cristian Andres', 'u201516659@upc.edu.pe')
(11, 'u20181e444', 'Miranda Durand', 'Fabricio Jose', 'u20181e444@upc.edu.pe')
(19, 'u201515612', 'Tuesta Ocampo', 'Gian Carlo', 'u201515612@upc.edu.pe')
(2, 'u201513319', 'Bernuy Ramirez', 'Jesus', 'u201513319@upc.edu.pe')
(14, 'u201623405', 'Rebaza Bartra', 'Jorge Marcelo', 'u201623405@upc.edu.pe')
(9, 'u201421391', 'Ludeña Sevilla', 'Jose Luis', 'u201421391@upc.edu.pe')
(3, 'u201621990', 'Bobadilla Chancafe', 'José Edison', 'u201621990@upc.edu.pe')
(20, 'u201622015', 'Uyejara Bustamante', 'Julio Tokujiro', 'u201622015@upc.edu.pe')
(15, 'u201811680', 'Rodriguez Peralta', 'Kevin Elmer', 'u201811680@upc.edu.pe')
(4, 'u201610674', 'Cachique Agreda', 'Kevin Poll Jharson', 'u201610674@upc.edu.pe')
(16, 'u201517193', 'Sanchez Gomez', 'Maikol Brandon', 'u201517193@upc.edu.pe')
(10, 'u20151c262', 'Marquez Zapata', 'Sara Milagros', 'u20151c262@upc.edu.pe')
(6, 'u201425507', 'Garcia Guerra', 'Sebastian Elias', 'u201425507@upc.edu.pe')
(17, 'u201710871', 'Sotomayor Anco', 'Tathyana Leyla', 'u201710871@upc.edu.pe')
(13, 'u201614986', 'Nuñez Cabrera', 'Victor Alonso', 'u201614986@upc.edu.pe')
(18, 'u201617457', 'Torres Santos', 'Yerson Walter', 'u201617457@upc.edu.pe')
(7, 'u201719264', 'Gil Alvarado', 'Yorman Manuel', 'u201719264@upc.edu.pe')

In [137]:
#SQL LITE

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """SELECT * FROM pacientes"""
cur.execute(sql)

for data in cur:
    print("ID: {}\tNombre: {:16} Peso: {:3} Altura: {:.2f}".format(*data))

#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

ID: 1	Nombre: Elvio Lado       Peso:  80 Altura: 1.72
ID: 2	Nombre: Elsa Payo        Peso:  54 Altura: 1.65
ID: 3	Nombre: Armando Paredes  Peso:  88 Altura: 1.75
ID: 4	Nombre: Susana Oria      Peso:  48 Altura: 1.60
ID: 5	Nombre: Esbteban Dido    Peso: 110 Altura: 1.68

In [139]:
#SQL LITE

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """SELECT * FROM pacientes WHERE peso<60 AND altura>1.60"""
cur.execute(sql)

for data in cur:
    print("ID: {}\tNombre: {:16} Peso: {:3}Kg Altura: {:.2f}".format(*data))

#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

ID: 2	Nombre: Elsa Payo        Peso:  54Kg Altura: 1.65

In [141]:
#SQL LITE

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """SELECT * FROM pacientes WHERE altura > ?"""
cur.execute(sql, (1.70,))

for data in cur:
    print("ID: {}\tNombre: {:16} Peso: {:3}Kg Altura: {:.2f}".format(*data))

#Se confirma la accion
conn.commit()
#Se cierra la conexioncon la db
conn.close()

ID: 1	Nombre: Elvio Lado       Peso:  80Kg Altura: 1.72
ID: 3	Nombre: Armando Paredes  Peso:  88Kg Altura: 1.75

In [144]:
#SQL LITE

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database.db")

#Se crea un cursor sobre la conexion
cur = conn.cursor()

#Ejecutar una sentencia SQL
sql = """UPDATE pacientes SET  altura = ? WHERE id = ?"""
cur.execute(sql, (1.92, 3))
conn.commit()

sql = """SELECT * FROM pacientes WHERE id = ?"""
cur.execute(sql, (3,))

for data in cur:
    print("ID: {}\tNombre: {:16} Peso: {:3}Kg Altura: {:.2f}".format(*data))

#Se confirma la accion
conn.commit()

#Se cierra la conexioncon la db
conn.close()

ID: 3	Nombre: Armando Paredes  Peso:  88Kg Altura: 1.92