In [10]:

#se crea una conexion (Archivo db será la base de datos)
conn = sqlite3.connect("database2.db")
personas = [("Elsa Payo", 54, 1.65),
            ("Armando Paredes", 88, 1.75),
            ("Susana Oria", 48, 1.60),
            ("Esbteban Dido", 110, 1.68)]

#Se crea un cursor sobre la conexion
cur = conn.cursor()
try:
    cur.execute("DROP TABLE pacientes")
    conn.commit()
except:
    pass
#Ejecutar una sentencia SQL

sql = """CREATE TABLE IF NOT EXISTS pacientes
                    (id INTEGER NOT NULL PRIMARY KEY,
                     nombre TEXT NOT NULL,
                     peso INTEGER NOT NULL,
                     altura REAL NOT NULL)""" 
cur.execute(sql)
conn.commit()
sql = """INSERT INTO pacientes 
                (nombre, 
                 peso,
                 altura)
         VALUES
                (?, ?, ?)"""
cur.execute(sql, ("Elvio Lado", 80, 1.72))
#Se confirma la accion
conn.commit()

sql = """INSERT INTO pacientes 
                (nombre, 
                 peso,
                 altura)
         VALUES
                (?, ?, ?)"""
cur.executemany(sql, personas)
conn.commit()

#Se cierra la conexioncon la db
conn.close()

In [20]:
#%%
import sqlite3

conn = sqlite3.connect("database2.db")
cur = conn.cursor()

sql = "DELETE FROM pacientes WHERE id = ?"
cur.execute(sql, (5,))
conn.commit()

sql = """SELECT * FROM pacientes"""
cur.execute(sql)
for data in cur:
    print(data)
conn.close()

(1, 'Elvio Lado', 80, 1.72)
(2, 'Elsa Payo', 54, 1.65)
(3, 'Armando Paredes', 88, 1.75)
(4, 'Susana Oria', 48, 1.6)

In [23]:
#%%
try:
    conn = sqlite3.connect("database.db")
    cur = conn.cursor()
    
    sql = """INSERT INTO pacientes (id, nombre, peso, altura)
            VALUES (?, ?, ?, ?)"""
    cur.execute(sql, (4,"Dina Mita", 90, 1.56))
    conn.commit()
except:
    conn.rollback() #Retroceder, volver para atrás
    print("ERROR: El 'id' ya existe. No se registralos cambios")

finally:
    conn.close()

ERROR: El 'id' ya existe. No se registralos cambios

In [24]:
#%%
conn = sqlite3.connect("database.db")

with conn: #Auto commit
    cur = conn.cursor()
    
    
conn.close()

In [48]:
#%%
class Database:
    def __init__(self, datafile):
        self.conn = sqlite3.connect(datafile)
        self.cur = self.conn.cursor()
        
    def __dele__(self):
        self.conn.close()
        
    def lista_pacientes(self):
        sql = "SELECT nombre FROM pacientes ORDER BY nombre"
#         return self.cur.execute(sql).fetchall()
        self.cur.execute(sql)
        return [item[0] for item in self.cur]

In [50]:
#
db = Database("database2.db")

print("LISTA DE PACIENTES")
print("==============")
print()

for idx, info in enumerate(db.lista_pacientes(), start = 1):
    print(f"{idx} - {info}")
#     print(f"{idx} - {info[0]}")
    

del(db)

LISTA DE PACIENTES
==============

1 - Armando Paredes
2 - Elsa Payo
3 - Elvio Lado
4 - Susana Oria

In [69]:
#%%
class Database:
    def __init__(self, datafile):
        self.conn = sqlite3.connect(datafile)
        self.cur = self.conn.cursor()
        
    def __dele__(self):
        self.conn.close()
        
    def lista_pacientes(self, reverse=False):
        if reverse:
            sql = "SELECT nombre FROM pacientes ORDER BY nombre DESC"
        else:
            sql = "SELECT nombre FROM pacientes ORDER BY nombre"
            
#         return self.cur.execute(sql).fetchall()
        self.cur.execute(sql)
        return [item[0] for item in self.cur]

In [70]:
#
db = Database("database2.db")

print("LISTA DE PACIENTES")
print("==============")
print()

for idx, info in enumerate(db.lista_pacientes(reverse=True), start = 1):
    print(f"{idx} - {info}")
#     print(f"{idx} - {info[0]}")
    

del(db)

LISTA DE PACIENTES
==============

1 - Susana Oria
2 - Elvio Lado
3 - Elsa Payo
4 - Armando Paredes

In [71]:
#
import tkinter as tk
import tkinter.ttk as ttk

class App:
    def __init__(self, master):
        self.master = master
        self.db = Database("database2.db")
        self.cboNombres = ttk.Combobox(self.master,
                                      values = self.db.lista_pacientes(reverse=True))
        self.cboNombres.pack()

        
root = tk.Tk()
app = App(root)
root.mainloop()