In [6]:
import pandas as pd

In [7]:
data = pd.Series(["data1","data2","data3"])
print(type(data))
print(data)
print("==============")
data.index = ['A','B','C'] #Cambia el indice de cada valor de data
print(data)
print(data[1])
print(data[-2])
print(data['A'])
print(data['B'])

<class 'pandas.core.series.Series'>
0    data1
1    data2
2    data3
dtype: object
==============
A    data1
B    data2
C    data3
dtype: object
data2
data2
data1
data2

In [8]:
a = [1, 2, 3]
b =map(lambda x: x+1,a)
print(list(b))

y = lambda x:2*x+2
print(y(2))

[2, 3, 4]
6

In [9]:
import random
import numpy as np

In [10]:
#Crear una lista de datos aleatorios con NaNs
valores = [random.randrange(10,100) for _ in range(100)]
print(valores)
print("\n",len(valores))
lista = [x for x in [1, 2, 3]]
print(lista, "\n")

for _ in range(10):
    valores[random.randrange(100)] = np.nan

valores[25] = "NULL"
print(valores)

[58, 74, 83, 11, 34, 62, 84, 89, 89, 56, 57, 31, 73, 40, 61, 13, 56, 97, 98, 69, 50, 76, 74, 91, 94, 81, 76, 71, 62, 81, 59, 75, 88, 59, 40, 62, 16, 27, 72, 71, 26, 37, 54, 79, 98, 87, 20, 83, 36, 90, 61, 72, 96, 41, 67, 98, 21, 75, 50, 39, 67, 45, 13, 44, 94, 78, 98, 26, 88, 74, 44, 76, 15, 74, 68, 63, 35, 25, 66, 73, 83, 86, 74, 90, 45, 98, 48, 29, 10, 16, 13, 26, 37, 29, 68, 62, 24, 42, 92, 66]

 100
[1, 2, 3]

[58, 74, 83, 11, 34, 62, 84, 89, 89, nan, nan, 31, 73, 40, 61, 13, 56, 97, 98, 69, nan, 76, 74, 91, 94, 'NULL', 76, 71, 62, 81, 59, 75, 88, 59, 40, 62, 16, 27, 72, 71, 26, 37, 54, 79, 98, 87, 20, 83, 36, nan, 61, 72, 96, 41, 67, 98, 21, 75, 50, 39, 67, nan, 13, 44, 94, nan, 98, 26, 88, 74, 44, 76, 15, 74, 68, 63, 35, 25, 66, 73, 83, 86, 74, 90, nan, 98, 48, 29, nan, nan, 13, 26, 37, 29, nan, 62, 24, 42, 92, 66]

In [11]:
ser =pd.Series(data=valores)
print(ser)

0       58
1       74
2       83
3       11
4       34
5       62
6       84
7       89
8       89
9      NaN
10     NaN
11      31
12      73
13      40
14      61
15      13
16      56
17      97
18      98
19      69
20     NaN
21      76
22      74
23      91
24      94
25    NULL
26      76
27      71
28      62
29      81
      ...
70      44
71      76
72      15
73      74
74      68
75      63
76      35
77      25
78      66
79      73
80      83
81      86
82      74
83      90
84     NaN
85      98
86      48
87      29
88     NaN
89     NaN
90      13
91      26
92      37
93      29
94     NaN
95      62
96      24
97      42
98      92
99      66
Length: 100, dtype: object

In [12]:
ser.dropna(inplace=True)

In [114]:
ser.iloc[:50]

0       70
1       77
2       41
3       37
4       82
6       29
7       68
8       24
9       97
10      19
11      50
12      14
13      14
14      75
15      68
16      79
17      49
18      54
19      48
20      36
21      83
23      72
24      60
25    NULL
28      28
29      32
30      85
31      60
32      21
33      99
35      14
36      34
37      70
38      93
39      85
40      75
41      96
42      68
43      47
44      84
45      29
46      36
47      96
49      90
50      83
51      75
52      50
53      39
54      84
55      30
dtype: object

In [14]:
# for item in range(ser.size):
#     if ser.iloc[item] == "NULL":
#         ser.iloc[item]= np.nan
# print(ser)


ser[ser == "NULL"]
def drop_NULL(x):
    if(x):
        return np.nan

In [13]:
ser[ser == "NULL"].index

Int64Index([25], dtype='int64')

In [15]:
ser.drop(ser[ser == "NULL"].index, inplace=True)
#print(ser)
ser

0     58
1     74
2     83
3     11
4     34
5     62
6     84
7     89
8     89
11    31
12    73
13    40
14    61
15    13
16    56
17    97
18    98
19    69
21    76
22    74
23    91
24    94
26    76
27    71
28    62
29    81
30    59
31    75
32    88
33    59
      ..
66    98
67    26
68    88
69    74
70    44
71    76
72    15
73    74
74    68
75    63
76    35
77    25
78    66
79    73
80    83
81    86
82    74
83    90
85    98
86    48
87    29
90    13
91    26
92    37
93    29
95    62
96    24
97    42
98    92
99    66
Length: 89, dtype: object

In [20]:
ser.mean()

53.62921348314607

In [22]:
#Qué indices están por encima de la muestra
filt = ser > ser.mean()

In [23]:
ser[filt].count()

44

In [151]:
ser[filt].index

Int64Index([ 0,  1,  4,  7,  9, 14, 15, 16, 21, 23, 24, 30, 31, 33, 37, 38, 39,
            40, 41, 42, 44, 47, 49, 50, 51, 54, 56, 59, 60, 61, 62, 64, 65, 66,
            68, 71, 72, 74, 75, 76, 84, 86, 88, 91, 93, 94, 97, 99],
           dtype='int64')

In [34]:
ser.max()

99

In [37]:
#ser.to_numeric()
ser.min()

10

In [63]:
ser.iloc[30:40:1]

35    77
36    66
37    65
38    81
39    89
40    76
41    61
43    48
44    29
45    44
dtype: object

In [172]:
ser.to_csv("Data_series.csv", index=False)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.